
<div class="well">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <h3 class="info">my rating:</h3>
        </th>
        <th>
          <h1>{{content.current_rating.average}}</h1>
        </th>

        {{#each ratings}}
          <th>{{rater_name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tr>
      <td>quantitative skills:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.quantitative"}}</td>
      {{#each ratings}}<td>{{quantitative}}</td>{{/each}}
    </tr>
    <tr>
      <td>qualitative skills:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.qualitative"}}</td>
      {{#each ratings}}<td>{{qualitative}}</td>{{/each}}
    </tr>
    <tr>
      <td>knowledge of arts sector:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.arts_landscape"}}</td>
      {{#each ratings}}<td>{{arts_landscape}}</td>{{/each}}
    </tr>
    <tr>
      <td>administration &amp; marketing xp:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.experience"}}</td>
      {{#each ratings}}<td>{{experience}}</td>{{/each}}
    </tr>
    <tr>
      <td>passion for arts:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.passion"}}</td>
      {{#each ratings}}<td>{{passion}}</td>{{/each}}
    </tr>
    <tr>
      <td>writing &amp; communication:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.english"}}</td>
      {{#each ratings}}<td>{{english}}</td>{{/each}}
    </tr>
    <tr>
      <td>computer wrangling:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.computing"}}</td>
      {{#each ratings}}<td>{{computing}}</td>{{/each}}
    </tr>


    <tr>
      <td>comments:</td>
      <td colspan='3'>{{view Ember.TextArea valueBinding="current_rating.comments" class="span5" rows='4'}}</td>
    </tr>
  </table>

    {{#if current_rating.isDirty}}
      <a href="#" class="btn btn-large btn-warning" {{action commitRating}}>save changes</a>
    {{/if}}



</div>