


<table class="table">
  <thead>
    <tr>
      <th>
        <h2>{{content.name}}</h2>
        <h3>{{content.email}}</h3>
      </th>
      <th>
        <h1 class="info">{{content.current_rating.average}}</h1>
      </th>
        
      <th>
        <h1>{{content.average_rating}}</h1>
      </th>
    </tr>

  </thead>

  {{#each content.documents }}
    <tr>
      <td>{{material}}</td>
      <td>{{description}}</td>
      <td><a {{bindAttr href="download_href"}}>download</a></td>
    </tr>
  {{/each}}

</table>

{{! view Zapply.ApplicantRating}}