
<div class="well">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <h3 class="info">my rating:</h3>
        </th>
        <th>
          <h1>{{content.current_rating.average}}</h1>
        </th>

        {{#each ratings}}
          <th>{{rater_name}}</th>
        {{/each}}
      </tr>
    </thead>
    
    <tr>
      <td>writing &amp; communication:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.english"}}</td>
      {{#each ratings}}<td>{{english}}</td>{{/each}}
    </tr>
    <tr>
      <td>research experience:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.research"}}</td>
      {{#each ratings}}<td>{{research}}</td>{{/each}}
    </tr>
    <tr>
      <td>archiving experience:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.archiving"}}</td>
      {{#each ratings}}<td>{{archiving}}</td>{{/each}}
    </tr>
    <tr>
      <td>knowledge of arts sector:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.arts_landscape"}}</td>
      {{#each ratings}}<td>{{arts_landscape}}</td>{{/each}}
    </tr>
    <tr>
      <td>passion for arts:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.passion"}}</td>
      {{#each ratings}}<td>{{passion}}</td>{{/each}}
    </tr>
    <tr>
      <td>computer wrangling:</td>
      <td>{{view Zapply.RatingsSelector valueBinding="current_rating.computing"}}</td>
      {{#each ratings}}<td>{{computing}}</td>{{/each}}
    </tr>
  </table>

  <table class="table-condensed table">

      <tr><td><h3>comments:</h3></td></tr>
    <tr>
      <td></td><td>{{view Ember.TextArea valueBinding="current_rating.comments" class="span6" rows='4'}}</td>
    </tr>

    {{#each ratings}}
      <tr>
        <td>{{rater_name}}</td>
        <td>{{comments}}</td>
      </tr>
    {{/each}}

  </table>

    {{#if current_rating.isDirty}}
      <a href="#" class="btn btn-large btn-warning" {{action commitRating}}>save changes</a>
    {{/if}}



</div>
