  <table class="table">
    <tr>
      <th>name</th>
      <th>email</th>
      <th>application submitted?</th>
      <th>overall rating</th>
      <th>my rating</th>
    </tr>
    {{#each controller}}
      <tr {{bindAttr class="application_confirmation_sent:plain:warning" }}>
        <td>{{#linkTo applicant this}}{{name}}{{/linkTo}}</td>
        <td>{{#linkTo applicant this}}{{email}}{{/linkTo}}</td>
        <td>{{submitted}}</td>
        <td><strong>{{ average_rating }}</strong></td>
        <td>{{ current_rating.average }}</td>
      </tr>
    {{/each}}

  </table>