<h1>{{content.name}}</h1>
<h3>{{content.email}}</h3>


<table class="table">

  {{#each content.documents }}
    <tr>
      <td>{{description}}</td>
      <td>{{material}}</td>
      <td><a {{bindAttr href="download_href"}}>download</a></td>
    </tr>
  {{/each}}

</table>