{{#if length}}
  <div class="alert alert-success"><h4>{{length}} {{documentString}} uploaded.</h4></div>
{{else}}
  <div class="alert info"> You have not uploaded any documents! </div>
{{/if}}

<table class="table" id="my_documents">
  {{#each controller}}
    <tr>
      <td width="75%"><i class="icon-file"></i>&emsp;{{material}}</td>
      <td class="actions" width="25%">
        <a {{bindAttr href="download_path"}} class="btn btn-small">download</a>
        {{#unless controller.session.submitted}}
          <a class="btn btn-danger btn-small" {{action destroyDocument this}}>delete</a>
        {{/unless}}
      </td>
    </tr>
  {{/each}}
</table>