{{#if length}}
  <div class="alert alert-success"><h4>{{length}} {{documentString}} uploaded.</h4></div>
{{else}}
  <div class="alert info"> You have not uploaded any documents! </div>
{{/if}}

<table class="table" id="my_documents">
  {{#each controller}}
    <tr>
      <td>{{description}}</td>
      <td>{{material}}</td>
      {{#unless controller.session.submitted}}
        <td class="actions">
          <div class="btn-group">
            <a class="btn btn-danger btn-small" {{action destroyDocument this}}>delete</a>
          </div>
        </td>
      {{/unless}}
    </tr>
  {{/each}}
</table>