<div class="row-fluid">
  <div class="hero-unit" id="about_main">
    <h1>{{model.title}}</h1>
    <h3>{{model.location}}</h3>
    <div id="actions">
      {{#if session.signed_in}}
        <a href="#my_application" class="btn btn-large btn-success">My Application</a>
      {{else}}
        <a href="/users/sign_up" class="btn btn-large btn-success">Apply Now</a>
      {{/if}}
    </div>
  </div>
</div>

{{#if model.closed}}
  <div class="alert alert-info">
    <h3>The application period has ended.</h3>
    <p>
      Thank you for your interest in the <b>{{model.title}}</b> position. If you have completed your application but have not yet submitted it, please email zach@wolfbrown.com.
    </p>
  </div>
{{/if}}
{{{model.description}}}