{{#if session.signed_in}}
  <div class="row-fluid">
    <h1>My Application</h1>

    {{render session_name_field}}
  </div>

  <div class="row-fluid">
    {{#unless session.submitted }}
      <div class="alert alert-info">
          <h3>Drag and drop your resume and cover letter here.</h3>
          <p>
            Drag your application documents to this window to upload them, or use the file picker below. 
            You can upload multiple files at once if your browser supports it. We prefer documents in <strong>
            PDF</strong> format, and ideally not more than 4 pages total. We will also accept files in
            .docx, .doc, or .rtf formats.
          </p>
          <p>
            After you have uploaded your resume, cover letter, and any other material you feel 
            is necessary to your application, click the <span class="label label-success">Submit Application</span>
            button. <strong>You will not be able to make changes to your application after you have submitted it.</strong>
          </p>

          {{view Zapply.NewDocumentView}}
      </div>
    {{/unless}}
    {{view Zapply.DocumentsTable}}
    {{view Zapply.SessionNoteField}}
  </div>
    <br/>
  <div class="row-fluid">
    {{#unless session.submitted}}
      {{#if length}}
        <a href="#" class="btn btn-large btn-success span7" style="float: none;" {{action openModalSubmit}}>Submit Application...</a>
      {{/if}}
    {{/unless}}
  </div>

  {{view Zapply.SubmitApplicationView}}

{{else}}
  {{render job_description}}
{{/if}}